.sitemap{
    position: relative;
    width: 95%;
    margin: 0 auto;
}
a{
    color: black;
}
.homepage{
    font-weight: bold;
}
header > h2{
    text-align: center;
}
.crumbs{
    border: 1px solid rgb(230, 224, 224);
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    padding-left: 10px;
}
.sitemap-content{
    margin-top: 20px;
    border: 1px solid rgb(230, 224, 224);
    border-radius: 5px;
    padding: 20px 10px;
}
.content-title{
    font-size: 16px;
    font-weight: bold;
}
.recent-article{
    height: 25px;
    line-height: 25px;
}