html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p,
a, address, big, cite, code, em, img,  q, s, samp,
small,strong, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, footer, header, 
menu, nav,  section, 
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: blanchedalmond;
}
ol, ul {
	list-style: none;
}
/* header区域 */
header{
    background-color: black;
    height: 50px;
    width: 100%;
}
.container{
    width: 1170px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    display: flex;
    /* align-items: center; */
}
.container > a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.tab{
    display: flex;
    justify-content: space-around;
    width: 350px;
}
.tab a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.inp_area{
    margin-left: auto;
    height: 100%;
}
.inp_area input{
    width: 200px;
    height: 28px;
    border-radius: 5px;
    border: none;
    padding-left: 1em;
    outline: none;
}
.search{
    width: 50px;
    height: 28px;
    border: none;
    border-radius: 3px;
    outline: none;
}

/* content区域 */
.app > .content{
    padding-top: 25px;
    width: 1170px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.content .left-content{
    width: 70%;
    box-sizing: border-box;
    float: left;
}
.content .right-content{
    width: 30%;
    float: right;
}
/* footer区域 */
footer{
    width: 100%;
    background-color: black;
    padding: 10px 0px 10px;
    text-align: center;
    color: #fff;
}
footer ul{
    width: 70%;
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
footer ul > li{
    margin: 0px 10px;
}
.copyright{
    padding: 10px 0;
}