.every-day{
    box-shadow: 2px 2px 2px #aaa,
    2px -2px 2px #aaa,
    -2px -2px 2px #aaa,
    -2px 2px 2px #aaa;
    padding: 15px 20px 20px 10px;
    border-radius: 6px;
    margin-bottom: 30px;
    background-color: #fff;
}
.every-day-title{
    font-size: 14px;
}
.laba{
    width: 16px;
    height: 16px;
    transform: translateY(25%);
}
.left-content .eng{
    padding-top:15px;
    padding-bottom: 15px;
}
.left-content .chi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}