.right-content > div{
    background-color: rgb(51, 46, 46);
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    float: right;
    margin-bottom: 20px;
}
.right-content .title{
    font-size: 14px;
    color: dodgerblue;
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: black;
    padding-left: 15px;
    font-weight: bold;
}
/* //随机标签 */
ul.tags{
    margin: 20px 15px 20px 15px;
    overflow: hidden;
}
ul.tags > li{
    float: left;
}
ul.tags > li > a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;  
}
/* 最近热门 */
.hots{
    padding: 0px 15px;
}
.hots > li{
    height: 35px;
    line-height: 35px;
}
.hots > li:not(:last-child){
    border-bottom: 1px solid rgb(73, 61, 61);
}
.hots > li > a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.comments{
    padding: 20px 0px 10px;
}
.comment > a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 100%;

}
.comment{
    margin: 0px 15px 20px;
    border-bottom: 1px solid rgb(73, 61, 61);
}
.comment-info{
    display: flex;
    justify-content: space-between;
}
.supple{
    margin-top: 10px;
    font-size: 14px;
    color: #777777;
    padding-bottom: 10px;
}
/* 友情链接 */
.links{
    padding: 10px 15px 20px 15px;
    overflow: hidden;
}
.link{
    float: left;
    width: 50%;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
}
.link > a{
    text-decoration: none;
    color: #fff;
}
